nav
{
 display:inline-block;
 float:left;
 height:100%;
 width:15%;
 background-color:#000000;
 padding: 10px;
}
nav a{

display: block;

	background-color: #FFFFFF;
        
	width:10%
	color: black ;
	padding: 9px 9px 9px 20px;
	margin:20px;
   text-decoration: none;
   text-align:center;
    border-radius: 15px;
	 
}
nav a:hover , nav a:active{
	background-color: #85C1E9 ;
} 
p.address
{
 padding-left:500px;
 font-size:20px;
 font-style:italic;
 background-color:#9FE2BF;
}
p
{
 background-color:#9FE2BF;
border-radius:15px;
 margin-left:10px;
}
h1
{
 background-color:#9FE2BF;
 width:100%;
}
img
{
margin-top:20px;
border:5px dashed #000000;
}
body
{
background-color:#FFFFFF;
}