div
{
background:blue;
width:230px;
height:70px;
display:inline-block;
float:left;
}
span
{
background:#765676;
width:80px;
height:70px;
display:block;
float:right;
}
p
{

background:red;
width:230px;
height:70px;
display:inline-block;
float:left;
clear:both;
}